@font-face {
    font-family: 'Jost';
    src: local('Jost-Light'), local('Jost-Light'),
    url('Jost-Light.woff2') format('woff2'),
    url('Jost-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: local('Jost-Regular'), local('Jost-Regular'),
    url('Jost-Regular.woff2') format('woff2'),
    url('Jost-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: local('Jost-Bold'), local('Jost-Bold'),
    url('Jost-Bold.woff2') format('woff2'),
    url('Jost-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSlab';
    src: local('JosefinSlab-Light'), local('JosefinSlab-Light'),
    url('JosefinSlab-Light.woff2') format('woff2'),
    url('JosefinSlab-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSlab';
    src: local('JosefinSlab-Regular'), local('JosefinSlab-Regular'),
    url('JosefinSlab-Regular.woff2') format('woff2'),
    url('JosefinSlab-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'JosefinSlab';
    src: local('JosefinSlab-Bold'), local('JosefinSlab-Bold'),
    url('JosefinSlab-Bold.woff2') format('woff2'),
    url('JosefinSlab-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}