<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load django_vite %} {% vite_hmr_client %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>COWORKER - {% block title %}{% endblock %}</title>
  </head>
  <body>
    {% if messages %}
        {% for message in messages %}
          {% if forloop.last %}
            {% include "modals/alert.html" with alert_message=message alert_type=message.tags %}
          {% endif %}
        {% endfor %}
    {% endif %}

    <div class="container-fluid">
      <header class="row header">
        <div class="col-md-2 d-flex justify-content-center align-items-center logo"><a href="{% url 'index' %}">Coworker</a></div>
        {% if user.is_authenticated %}
          <div class="col-md-8 d-flex justify-content-center align-items-center name"><a href="{% url 'my_profile' %}">{{user.full_name}}</a></div>
          <div class="col-md-2 d-flex justify-content-center align-items-center">
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="button">Log Out</button>
            </form>
          </div>
        {% else %}
          <div class="col-md-8 d-flex justify-content-center align-items-center name"><a href="{% url 'login' %}">Log into Existing Account</a></div>
          <div class="col-md-2 d-flex align-items-center justify-content-center">
            <a href="{% url 'register' %}"><div class="button">Create Account</div></a>
          </div>
        {% endif %}
      </header>

      <main class="container main">
        {% block content %}{% endblock %}
      </main>

      <footer class="footer">
        <h2>Contact Us</h2>
        <div class="contacts">
          <a href="https://linkedin.com/"><img src="{% static 'public/icons/linkedin.png' %}" alt="LinkedIn" class="contact"></a>
          <a href="https://github.com/"><img src="{% static 'public/icons/github.png' %}" alt="Github" class="contact"></a>
          <a href="https://www.instagram.com/"><img src="{% static 'public/icons/instagram.png' %}" alt="Instagram" class="contact"></a>
          <a href="https://www.facebook.com/"><img src="{% static 'public/icons/facebook.png' %}" alt="Facebook" class="contact"></a>
          <a href="https://x.com/"><img src="{% static 'public/icons/twitter.png' %}" alt="Twitter" class="contact"></a>
        </div>
        <div class="terms">Terms and Conditions</div>
        <span>Have a question?</span>
        <div class="message" id="contact-form" data-modal="contact_modal">Send Message</div>
      </footer>
    </div>
    {% include 'modals/contact_modal.html'%}
    {% block typescript %}{% endblock %}
  </body>
</html>