      <!-- <div class="overlay d-flex justify-content-center align-items-center">
        <div class="pmodal">
          <img src="../static/public/icons/close.svg" alt="Close" class="pmodal_close">
          <div class="pmodal_title">Enter your Full Name</div>
          <input type="text" id="full_name" name="full_name" class="input">
          <div class="pmodal_save">Save Changes</div>
        </div>
      </div> -->

      <!-- <div class="overlay d-flex justify-content-center align-items-center">
        <div class="pmodal">
          <img src="../static/public/icons/close.svg" alt="Close" class="pmodal_close">
          <div class="pmodal_title">Send Message to Us </div>
          <textarea id= "contact" name="contact" class="textarea" rows="5"></textarea>
          <div class="pmodal_save">Save Changes</div>
        </div>
      </div>  -->

      <!-- <div class="overlay d-flex justify-content-center align-items-center">
        <div class="pmodal">
          <img src="../static/public/icons/close.svg" alt="Close" class="pmodal_close">
          <div class="pmodal_title">Enter your Experience</div>
          <div class="container-fluid">
            <div class="row g-3">
              <div class="col-md-6">
                <input type="text" id="experience_position" name="experience_position" class="input" placeholder="Work Position">
              </div>
              <div class="col-md-6">
                <input type="text" id="experience_company" name="experience_company" class="input" placeholder="Work Company">
              </div>
              <div class="col-md-12">
                <textarea id="experience_description" name="experience_description" class="textarea" placeholder="Work Description" rows="5"></textarea>
              </div>
            </div>
            <div class="row g-0">
              <div class="col-md-4">
                <input type="text" id="full_name" name="full_name" class="input text-center" placeholder="Start Year">
              </div>
              <div class="col-md-1 d-flex justify-content-center align-items-center">-</div>
              <div class="col-md-4">
                <input type="text" id="full_name" name="full_name" class="input text-center" placeholder="End Year*">
              </div>
              <div class="col-md-3 d-flex justify-content-center align-items-center">Year Period</div>
              <div class="col-md-12 pmodal_hint text-start">*Leave the end year blank if you are currently employed on this position.</div>
            </div>
            </div>
            <div class="pmodal_save">Save Changes</div>
          </div>
        </div>
      </div>  -->

      <!-- <div class="overlay d-flex justify-content-center align-items-center">
        <div class="pmodal">
          <img src="../static/public/icons/close.svg" alt="Close" class="pmodal_close">
          <div class="pmodal_title">Enter your Salary Expectations</div>
          <div class="container-fluid">
            <div class="row g-0">
              <div class="col-md-4">
                <input type="text" id="full_name" name="full_name" class="input text-center" placeholder="Minimum">
              </div>
              <div class="col-md-1 d-flex justify-content-center align-items-center">-</div>
              <div class="col-md-4">
                <input type="text" id="full_name" name="full_name" class="input text-center" placeholder="Maximum">
              </div>
              <div class="col-md-3 d-flex justify-content-center align-items-center">Euro / year</div>
            </div>
          </div>
          <div class="pmodal_save">Save Changes</div>
        </div>
      </div> -->

      <!-- <div class="overlay d-flex justify-content-center align-items-center">
        <div class="pmodal">
          <img src="../static/public/icons/close.svg" alt="Close" class="pmodal_close">
          <div class="pmodal_title">Select your Nationalities</div>
          <input type="text" id="search_nationality" name="search_nationality" class="input" placeholder="Search a nationality">
          <div class="container-fluid">
            <div class="search_result">
            <div class="row g-3">
              <div class="col-md-6 d-flex justify-content-between align-items-center">
                <span class="nationality">English</span>
                <span class="pmodal_remove">Remove</span>
              </div>

              <div class="col-md-6 d-flex justify-content-between align-items-center">
                <span class="nationality nationality_active">Russian</span>
                <span class="pmodal_remove">Remove</span>
              </div>

              <div class="col-md-6 d-flex justify-content-between align-items-center">
                Lesiban
              </div>

              <div class="col-md-6 d-flex justify-content-between align-items-center">
                Romanian
              </div>

              <div class="col-md-6 d-flex justify-content-between align-items-center">
                Cacaduc
              </div>

              <div class="col-md-6 d-flex justify-content-between align-items-center">
                Labrin
              </div>

              <div class="col-md-6 d-flex justify-content-between align-items-center">
                Candal
              </div>

              <div class="col-md-6 d-flex justify-content-between align-items-center">
                Babadjin
              </div>
            </div>
            </div>
          </div>
          <div class="pmodal_save">Save Changes</div>
        </div>
      </div>  -->

      <!-- <div class="overlay d-flex justify-content-center align-items-center">
        <div class="pmodal">
          <img src="../static/public/icons/close.svg" alt="Close" class="pmodal_close">
          <div class="pmodal_title">Select your Languages</div>
          <input type="text" id="search_language" name="search_language" class="input" placeholder="Search a language">
          <div class="container-fluid">
            <div class="search_result">
              <div class="row d-flex justify-content-center">
                <div class="col-md-12 pmodal_level">Select level of expertise of the known language</div>
              </div>
              <div class="row language d-flex align-items-center">
                <div class="col-md-4 d-flex justify-content-start">Romanian</div>
                <div class="col-md-2 pmodal_level">Beginner</div>
                <div class="col-md-2 pmodal_level">Professional</div>
                <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
                <div class="col-md-2 pmodal_remove">Remove</div>
              </div>
              <div class="row language d-flex align-items-center">
                <div class="col-md-4 d-flex justify-content-start">Romanian</div>
                <div class="col-md-2 pmodal_level">Beginner</div>
                <div class="col-md-2 pmodal_level">Professional</div>
                <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
                <div class="col-md-2 pmodal_remove">Remove</div>
              </div>
              <div class="row language d-flex align-items-center">
                <div class="col-md-4 d-flex justify-content-start">Romanian</div>
                <div class="col-md-2 pmodal_level">Beginner</div>
                <div class="col-md-2 pmodal_level">Professional</div>
                <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
                <div class="col-md-2 pmodal_remove">Remove</div>
              </div>
              <div class="row language d-flex align-items-center">
                <div class="col-md-4 d-flex justify-content-start">Romanian</div>
                <div class="col-md-2 pmodal_level">Beginner</div>
                <div class="col-md-2 pmodal_level">Professional</div>
                <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
                <div class="col-md-2 pmodal_remove">Remove</div>
              </div>
              <div class="row language d-flex align-items-center">
                <div class="col-md-4 d-flex justify-content-start">Romanian</div>
                <div class="col-md-2 pmodal_level">Beginner</div>
                <div class="col-md-2 pmodal_level">Professional</div>
                <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
                <div class="col-md-2 pmodal_remove">Remove</div>
              </div>
            </div>
          </div>
          <div class="pmodal_save">Save Changes</div>
        </div>
      </div>  -->

{% extends "base.html" %}

{% load django_vite %} 

{% block title %}Home{% endblock %}

{% block content %}

    <div class="quote">“The best workers are here”</div>

    <section class="row g-5">
      {% if users %}

        {% for user in users %}
          <div class="col-md-6">
            <div class="profile_application d-flex align-items-center">
              <img src="https://placehold.co/85x85" alt="Profile Image" class="profile_image">
              <div class="profile_info">
                <div class="profile_name">{{ user.first_name }} {{ user.last_name }}</div>
                <div class="profile_position">{{ user.position }}</div>
                <div class="profile_experience">{{ user.experience }} year experience</div>
              </div>
            </div>
          </div>
        {% endfor %}

      {% endif %}

    </section>

    <div class="quote">“Did not find one, yet?”</div>

    <div class="searchbar">
      <div class="row g-3">
          <div class="col-md-6">
              <input type="text" name="find_worker" placeholder="Search workers by job name" class="searchbar_field" />
          </div>
          <div class="col-md-3">
              <div class="searchbar_filter">Experience</div>
          </div>
          <div class="col-md-3">
              <div class="searchbar_filter">Platform Rank</div>
          </div>
          <div class="col-md-4">
              <div class="searchbar_filter">Location</div>
          </div>
          <div class="col-md-4">
              <div class="searchbar_filter">Language</div>
          </div>
          <div class="col-md-4">
              <div class="searchbar_filter">Salary Expectation</div>
          </div>
      </div>
  </div>

  <div class="search_profile">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="profile_information">
          <div class="profile_name">Mr. Jacobsen</div>
          <div class="profile_position">Certified Software Developer</div>
          <div class="profile_experience">5 year experience</div>
        </div>
    </div>
      <div class="col-md-9">
        <div class="profile_description">
          Mrs. Jengars has completed her bachelor’s degree (BSc Management, Society & Technology) in 2019. 
          In 2020, Mrs. Jengars has finished her master’s degree (Law and Society MSc) in Leiden University, the Netherlands. 
          Currently, working for an year in Brantersburg School. 
        </div>
      </div>
    </div>
  </div>

  <div class="search_profile">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="profile_information">
          <div class="profile_name">Mr. Jacobsen</div>
          <div class="profile_position">Certified Software Developer</div>
          <div class="profile_experience">5 year experience</div>
        </div>
    </div>
      <div class="col-md-9">
        <div class="profile_description">
          Currently, she is in a search of a job. 
        </div>
      </div>
    </div>
  </div>

  <div class="search_profile">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="profile_information">
          <div class="profile_name">Mr. Jacobsen</div>
          <div class="profile_position">Certified Software Developer</div>
          <div class="profile_experience">5 year experience</div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="profile_description">
          Mrs. Jengars has completed her bachelor’s degree (BSc Management, Society & Technology) in 2019. 
          Mr. Jacobsen has completed his bachelor’s degree (BSc Management, Society & Technology) in 2019. In 2020, Mr. Jacobsen has finished his master’s degree (Law and Society MSc) in Leiden University, the Netherlands. Currently, she is in a search of a job. 
        </div>
      </div>
    </div>
  </div>

  <div class="button searchbar_btn">Show More</div>

{% endblock %}

{% block typescript %}
  {% vite_asset 'ts/index.ts' %}
{% endblock %}
