{% extends "base.html" %}

{% load django_vite %} 

{% block title %}Home{% endblock %}

{% block content %}

    <div class="quote">“The best workers are here”</div>

    <section class="row g-5">
      {% if users %}

        {% for user in users %}
          <div class="col-md-6">
            <a href="{% url 'user_profile' user.id %}">
            <div class="profile_application d-flex align-items-center">
              <img src="https://placehold.co/85x85" alt="Profile Image" class="profile_image">
              <div class="profile_info">
                <div class="profile_name">{{ user.full_name }}</div>
                <div class="profile_position">{{ user.position }}</div>
                <div class="profile_experience">{{ user.experience }} year experience</div>
              </div>
            </div>
           </a>
          </div>
        {% endfor %}

      {% endif %}

    </section>

    <div class="quote">“Did not find one, yet?”</div>

    <div class="searchbar">
      <div class="row g-3">
          <div class="col-md-6">
              <input type="text" name="find_worker" placeholder="Search workers by job name" class="searchbar_field" />
          </div>
          <div class="col-md-3">
              <div class="searchbar_filter">Experience</div>
          </div>
          <div class="col-md-3">
              <div class="searchbar_filter">Platform Rank</div>
          </div>
          <div class="col-md-4">
              <div class="searchbar_filter">Location</div>
              <div class="searchbar_result"></div>
          </div>
          <div class="col-md-4">
              <div class="searchbar_filter">Language</div>
          </div>
          <div class="col-md-4">
              <div class="searchbar_filter">Salary Expectation</div>
          </div>
      </div>
  </div>

  {% for user in users|slice:":3" %}
  <a href="{% url 'user_profile' user.id %}">
    <div class="search_profile">
      <div class="row align-items-center">
        <div class="col-md-3">
          <div class="profile_information">
            <div class="profile_name">{{ user.full_name }}</div>
            <div class="profile_position">{{ user.position }}</div>
            <div class="profile_experience">{{ user.experience }} year experience</div>
          </div>
      </div>
        <div class="col-md-9">
          <div class="profile_description">
            Mrs. Jengars has completed her bachelor’s degree (BSc Management, Society & Technology) in 2019. 
            In 2020, Mrs. Jengars has finished her master’s degree (Law and Society MSc) in Leiden University, the Netherlands. 
            Currently, working for an year in Brantersburg School. 
          </div>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}

  <div class="button searchbar_btn">Show More</div>

{% endblock %}

{% block typescript %}
  {% vite_asset 'ts/index.ts' %}
{% endblock %}
