{% extends 'base.html' %}

{% load django_vite %} 

{% block title %}Login{% endblock %}

{% block content %}
<main class="login">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="personal-label">Email Address</div>
        <input type="email" id="username" name="username" class="input logininput">

        <div class="personal-label">Personal Password</div>
        <input type="password" id="password" name="password" class="input logininput">
        <button type="submit" class="button login_btn">Enter Account</button>
    </form>

    {% if messages %}
    <div class="error-messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</main>
{% endblock %}

{% block typescript %}
  {% vite_asset 'ts/login.ts' %}
{% endblock %}
