{% extends "base.html" %}

{% load django_vite %} 

{% block title %}Home{% endblock %}

{% block content %}
      <main class="profile">
        <div class="row g-5">

          <div class="col-md-4">
            <img src="https://placehold.co/315x315" alt="Profile Image" class="profile-image">
          </div>

          <div class="col-md-6">
            <div class="personal-info">
              <h1 class="personal-name">Mr. {{ user.last_name }}</h1>
              <p class="personal-age">Born in <span>{{ user.birth_date | date:"j F Y" }} ({{ user.age }} </span> years)</p>
              <p class="personal-location">Based in <span>{{ user.location }}</span></p>
              <p class="personal-raking">Ranking based on profile settings. <span>LVL3</span></p>
              <div class="personal-buttons d-flex justify-content-between">
                <div class="button">Send Email</div>
                <div class="button">See Portfolio</div>
              </div>
            </div>
          </div>

          
          <div class="d-flex justify-content-around profile-links">
            <hr class="line">

                <span class="profile-link">Personal Data</span>

                <span class="profile-link profile-link_active">Work Timeline</span>

                <span class="profile-link">Education</span>

                <span class="profile-link">Personal Attributes</span>
          </div>

          <!-- {% include "components/profile_data.html" %}
          {% include "components/profile_experience.html" with experience_type="Work" %} -->
          {% include "components/profile_experience.html" with experience_type="Education" %}
          <!-- {% include "components/profile_attributes.html" %} -->

      </main>

{% endblock %}

{% block typescript %}
  {% vite_asset 'ts/profile.ts' %}
{% endblock %}
        
