{% extends "base.html" %}

{% load django_vite %} 

{% block title %}Home{% endblock %}

{% block content %}
      <main class="profile">
        <div class="row g-5">

          <div class="col-md-4">
            <img src="https://placehold.co/315x315" alt="Profile Image" class="profile-image">
          </div>

          <div class="col-md-6">
            <div class="personal-info">
              <h1 class="personal-name">{{ user.full_name }}</h1>
              <p class="personal-age">Born in <span>
                {% if user.birth_date %}
                {{ user.birth_date | date:"j F Y" }} ({{ user.age }} </span> years).
                {% else %}
                N/A. </span> 
                {% endif %}
              </p>
              <p class="personal-location">Based in <span>
                {% if user.location %}
                <strong>{{user.location}}.</strong>
                {% else %} 
                N/A.
                {% endif %}
              </span></p>
              <p class="personal-age">
                {% if user.experience %}
                {{user.experience}} years of experience in total.
                {% else %}
                No experience has been indicated.
                {% endif %}
              </p>
              <div class="personal-buttons d-flex justify-content-between">
                {% if is_own_profile %}
                <button class="button">Change Email</button>
                {% else %}
                <button class="button">Send Email</button>
                {% endif %}
                {% if is_own_profile %}
                <button class="button">Upload Portfolio</button>
                {% else %}
                <button class="button_disabled">See Portfolio</button>
                {% endif %}
              </div>
            </div>
          </div>

          
          <div class="d-flex justify-content-around profile-links">
            <hr class="line">
            <a href="?section=personal-data" class="profile-link {% if section == 'personal-data' %}profile-link_active{% endif %}">Personal Data</a>
            <a href="?section=work-timeline" class="profile-link {% if section == 'work-timeline' %}profile-link_active{% endif %}">Work Timeline</a>
            <a href="?section=education" class="profile-link {% if section == 'education' %}profile-link_active{% endif %}">Education</a>
            <a href="?section=personal-attributes" class="profile-link {% if section == 'personal-attributes' %}profile-link_active{% endif %}">Personal Attributes</a>
          </div>
          
          
          {% if section == "personal-data" %}
            {% include "components/profile_data.html" %}
          {% elif section == "work-timeline" %}
            {% include "components/profile_experience.html" with experience_type="Work" %}
          {% elif section == "education" %}
            {% include "components/profile_experience.html" with experience_type="Education" %}
          {% elif section == "personal-attributes" %}
            {% include "components/profile_attributes.html" %}
          {% endif %}
        
        </div>
      </main>

{% endblock %}

{% block typescript %}
  {% vite_asset 'ts/profile.ts' %}
{% endblock %}
        
