{% extends "base.html" %}

{% load django_vite %} 
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}

<form method="post" action="{% url 'register' %}" class="col-md-12" enctype="multipart/form-data">
{% csrf_token %}

<main class="register">
  <div class="row g-5">

    <div class="col-md-5 d-flex justify-content-center">
      <div class="profile_image_container">
        <img src="{% static 'public/assets/gray.jpg' %}" class="profile_image"  id="profile-image" alt="Upload"/>
        <img src="{% static 'public/icons/upload.svg' %}" class="profile_image_icon" alt="Upload"/>
      </div>

      <input type="file" name="profile_picture" id="profile_picture" accept=".jpg,.jpeg,.png" style="display: none;">
    </div>

    <div class="col-md-7">
      <div class="personal-field">
          <div class="personal-label">Full Name*</div>
          <input type="text" id="full_name" name="full_name" value="{{ form.full_name.value|default:'' }}" class="input personal-value">
      </div>

      <div class="personal-field">
          <div class="personal-label">Email Address*</div>
          <input type="text" id="email" name="email" value="{{ form.email.value|default:'' }}" class="input personal-value">
      </div>

      <div class="personal-field">
          <div class="personal-label">Personal Password*</div>
          <input type="password" id="password" name="password" class="input personal-value">
      </div>
    </div>

    <div class="col-md-6">
      <div class="personal-field">
          <div class="personal-label">Current Location, Country*</div>
          <input type="text" id="location_country" name="location_country"value="{{ form.location_country.value|default:'' }}" class="input personal-value">
      </div>
    </div>

    <div class="col-md-6">
      <div class="personal-field">
          <div class="personal-label">Current Location, City*</div>
          <input type="text" id="location_city" name="location_city" value="{{ form.location_city.value|default:'' }}" class="input personal-value">
      </div>
    </div>

    <div class="col-md-4">
      <div class="personal-field">
          <div class="personal-label">Birth Day*</div>
          <input type="text" id="birth_day" name="birth_day" value="{{ form.birth_day.value|default:'' }}" class="input personal-value">
      </div>
    </div>

    <div class="col-md-4">
      <div class="personal-field">
          <div class="personal-label">Birth Month*</div>
          <input type="text" id="birth_month" name="birth_month" value="{{ form.birth_month.value|default:'' }}" class="input personal-value">
      </div>
    </div>

    <div class="col-md-4">
      <div class="personal-field">
          <div class="personal-label">Birth Year*</div>
          <input type="text" id="birth_year" name="birth_year" value="{{ form.birth_year.value|default:'' }}" class="input personal-value">
      </div>
    </div>

    <div class="col-md-12">
      <div class="personal-field">
          <div class="personal-label">How did you find about us?</div>
          <textarea id="findus" name="findus" class="textarea" value="{{ form.findus.value|default:'' }}" rows="5"></textarea>
      </div>
    </div>

  </div>
</main>

  <button type="submit" class="button register_btn">Create Account</button>

</form>


{% endblock %}

{% block typescript %}
  {% vite_asset 'ts/register.ts' %}
{% endblock %}
