{% load static %}

<div id="fullname_modal" class="overlay d-flex justify-content-center align-items-center none">
    <div class="pmodal">
      <img src="{% static 'public/icons/close.svg' %}" alt="Close" class="pmodal_close">
      <div class="pmodal_title">Enter your Full Name</div>
      <form method="post" action="{% url 'my_profile' %}">
        {% csrf_token %}
        {{ full_name_form.full_name }}
        <button type="submit" name="full_name_form" class="pmodal_save">Save Changes</button>
      </form>
    </div>
</div>