{% load static %}

<div id="language_modal" class="overlay d-flex justify-content-center align-items-center none">
    <div class="pmodal">
      <img src="{% static 'public/icons/close.svg' %}" alt="Close" class="pmodal_close">
      <div class="pmodal_title">Select your Languages</div>
      <input type="text" id="search_language" name="search_language" class="input" placeholder="Search a language">
        <div class="search_result">
          <div class="col-md-12 pmodal_level">Select level of expertise of the known language</div>
          <div class="row language d-flex align-items-center">
            <div class="col-md-4 d-flex justify-content-start">Romanian</div>
            <div class="col-md-2 pmodal_level">Beginner</div>
            <div class="col-md-2 pmodal_level">Professional</div>
            <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
            <div class="col-md-2 pmodal_remove">Remove</div>
          </div>
          <div class="row language d-flex align-items-center">
            <div class="col-md-4 d-flex justify-content-start">Romanian</div>
            <div class="col-md-2 pmodal_level">Beginner</div>
            <div class="col-md-2 pmodal_level">Professional</div>
            <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
            <div class="col-md-2 pmodal_remove">Remove</div>
          </div>
          <div class="row language d-flex align-items-center">
            <div class="col-md-4 d-flex justify-content-start">Romanian</div>
            <div class="col-md-2 pmodal_level">Beginner</div>
            <div class="col-md-2 pmodal_level">Professional</div>
            <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
            <div class="col-md-2 pmodal_remove">Remove</div>
          </div>
          <div class="row language d-flex align-items-center">
            <div class="col-md-4 d-flex justify-content-start">Romanian</div>
            <div class="col-md-2 pmodal_level">Beginner</div>
            <div class="col-md-2 pmodal_level">Professional</div>
            <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
            <div class="col-md-2 pmodal_remove">Remove</div>
          </div>
          <div class="row language d-flex align-items-center">
            <div class="col-md-4 d-flex justify-content-start">Romanian</div>
            <div class="col-md-2 pmodal_level">Beginner</div>
            <div class="col-md-2 pmodal_level">Professional</div>
            <div class="col-md-2 pmodal_level pmodal_level_active">Native</div>
            <div class="col-md-2 pmodal_remove">Remove</div>
          </div>
        </div>
      <div class="pmodal_save">Save Changes</div>
    </div>
</div>    