{% load static %}

<div id="location_modal" class="overlay d-flex justify-content-center align-items-center none">
    <div class="pmodal">
      <img src="{% static 'public/icons/close.svg' %}" alt="Close" class="pmodal_close">
      <div class="pmodal_title">Enter your Location</div>
      <form method="post" action="{% url 'my_profile' %}">
        {% csrf_token %}
        {{ location_form.location }}
        <button type="submit" name="location_form" class="pmodal_save">Save Changes</button>
      </form>
    </div>
</div>