<div class="overlay d-flex justify-content-center align-items-center">
    <div class="pmodal">
      <img src="../static/public/icons/close.svg" alt="Close" class="pmodal_close">
      <div class="pmodal_title">Log into Existing Account</div>
      <input type="email" id="email_address" name="email_address" placeholder="Email Address" class="input logininput">
      <input type="password" id="password" name="password" placeholder="Password" class="input logininput">
      <div class="pmodal_save">Enter Account</div>
    </div>
</div>