{% load static %}

<div id="salary_modal" class="overlay d-flex justify-content-center align-items-center none">
    <div class="pmodal">
      <img src="{% static 'public/icons/close.svg' %}" alt="Close" class="pmodal_close">
      <div class="pmodal_title">Enter your Salary Expectations</div>
      <form method="post" action="{% url 'my_profile' %}">
        {% csrf_token %}
        <div class="row g-0">
          <div class="col-md-4">
            {{ salary_form.salary_minimum }}
          </div>
          <div class="col-md-1 d-flex justify-content-center align-items-center">-</div>
          <div class="col-md-4">
            {{ salary_form.salary_maximum }}
          </div>
          <div class="col-md-3 d-flex justify-content-center align-items-center">Euro / year</div>
        </div>
        <button type="submit" name="salary_form" class="pmodal_save">Save Changes</button>
      </form>
    </div>
</div>