{% for trait in traits %}
<div class="col-md-6">
    <div class="personal-field">
        <div class="personal-label">{{trait.trait_name}}</div>

        <input 
        class="personal-slider" 
        type="range" 
        min="1" 
        max="100" 
        value="{{trait.user_score}}" 
        name="{{trait.trait_name}}" 
        id="{{trait.trait_id}}" />
        
        <div class="slider-info d-flex align-items-center justify-content-center">i</div>
        <div class="slider-description none">{{trait.trait_description}}</div>
        <div class="slider-save none">Save Changes</div>
    </div>
</div>
{% endfor %}
