{% load static %}

<div class="col-md-6">
    <div class="personal-field">
        <div class="personal-label">Full Name</div>
        <div class="personal-value"><strong>{{ worker.full_name }}</strong></div>
        {% if is_own_profile %}
        <img class="personal-edit" id="fullname_form" data-modal="fullname_modal" src="{% static 'public/icons/settings.png' %}" alt="Edit"/>
        {% endif %}
    </div>
</div>

<div class="col-md-6">
    <div class="personal-field">
        <div class="personal-label">Nationality</div>
        {% if nationalities %}
        <div class="personal-value">
        <strong>
            {% for nationality in nationalities %}
            {{nationality.nationality}}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </strong>
        </div>
        {% else %}
        <div class="personal-value">No nationality has been indicated, yet.</div>
        {% endif %}
        {% if is_own_profile %}
        <img class="personal-edit" id="nationality_form" data-modal="nationality_modal" src="{% static 'public/icons/settings.png' %}" alt="Edit"/>
        {% endif %}
    </div>
</div>

<div class="col-md-12">
    <div class="personal-field">
        <div class="personal-label">Languages</div>
        <div class="personal-list">
        {% if languages %}
            {% for language in languages %}
            <div class="personal-value"><strong>{{language.language}}</strong> -         
                {% if language.language_knowledge == 'Native' %}
                    Native or bilingual proficiency
                {% elif language.language_knowledge == 'Professional' %}
                    Professional working proficiency
                {% elif language.language_knowledge == 'Beginner' %}
                    Beginner basic knowledge
                {% else %}
                    Unknown knowledge level
                {% endif %}
            </div>
            {% endfor %}
        {% else %}
        <div class="personal-value">No language knowledge has been indicated, yet.</div>
        {% endif %}
        {% if is_own_profile %}
        <img class="personal-edit" id="language_form" data-modal="language_modal" src="{% static 'public/icons/settings.png' %}" alt="Edit"/>
        {% endif %}
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="personal-field">
        <div class="personal-label">Salary Expectations</div>
        <div class="personal-value"><strong>{{  formatted_salary_minimum }}</strong> - <strong>{{ formatted_salary_maximum }}</strong> Euro/year</div>
        {% if is_own_profile %}
        <img class="personal-edit" id="salary_form" data-modal="salary_modal" src="{% static 'public/icons/settings.png' %}" alt="Edit"/>
        {% endif %}
    </div>
</div>

<div class="col-md-6">
    <div class="personal-field">
        <div class="personal-label">Current Location</div>
        <div class="personal-value"> 
            {% if worker.location %}
            <strong>{{worker.location}}</strong>
            {% else %} 
            Not indicated.
            {% endif %}
        </div>
        {% if is_own_profile %}
        <img class="personal-edit" id="location_form" data-modal="location_modal" src="{% static 'public/icons/settings.png' %}" alt="Edit"/>
        {% endif %}
    </div>
</div>

<div class="col-md-12">
    <div class="personal-field">
        <div class="personal-label">Contact Details</div>
        <div class="personal-list">
        {% if worker.linkedin_link %}
            <div class="personal-value"><strong>LinkedIn</strong> - {{ worker.linkedin_link }}</div>
        {% endif %}
        {% if worker.xing_link %}
            <div class="personal-value"><strong>XING</strong> - {{ worker.xing_link }}</div>
        {% endif %}
        {% if worker.personal_link %}
            <div class="personal-value"><strong>Personal URL</strong> - {{ worker.personal_link }}</div>
        {% endif %}
        {% if not worker.linkedin_link and not worker.xing_link and not worker.personal_link %}
            <div class="personal-value">No contact details provided.</div>
        {% endif %}
        {% if is_own_profile %}
            <img class="personal-edit" id="links_form" data-modal="links_modal" src="{% static 'public/icons/settings.png' %}" alt="Edit"/>
        {% endif %}
        </div>
    </div>
</div>

<!-- Upload all edit modals -->
{% if is_own_profile %}
    {% include 'modals/fullname_modal.html'%}
    {% include 'modals/nationality_modal.html'%}
    {% include 'modals/language_modal.html'%}
    {% include 'modals/salary_modal.html'%}
    {% include 'modals/location_modal.html'%}
    {% include 'modals/links_modal.html'%}
{% endif %}