{% load static %}

<div class="col-md-12">
    <div class="timeline">
      {% if is_own_profile %}
      <div class="experience_add d-flex justify-content-center align-items-center" id="experience_form" data-modal="experience_modal">
        <img src="{% static 'public/icons/add.png' %}" alt="Add">
      </div>
      {% endif %}
      
      {% if experiences %}
        {% for experience in experiences %}
          {% if experience.type == experience_type %}
            <div class="experience">
              <div class="experience_time">
                  {% if experience.end_year %}
                  {{ experience.start_year }} - {{ experience.end_year }}
                  {% else %}
                  {{ experience.start_year }} - Present
                  {% endif %}
              </div>
              <div class="experience_position">{{ experience.position }}</div>
              <div class="experience_location">{{ experience.institution_name }}</div>
              <div class="experience_description">{{ experience.description }}</div>
            </div>
          {% endif %}
        {% endfor %}
        {% else %}
            <p>No experience has been indicated.</p>
        {% endif %}
</div>

<!-- Upload all edit modals -->
{% if is_own_profile %}
    {% include 'modals/experience_modal.html'%}
{% endif %}

